_fnd2
/upload
/bitrix/backup
bitrix/tmp/
/bitrix/cache
/bitrix/crontab
/bitrix/managed_cache
/bitrix/managed_flags
/bitrix/modules/*.log
/bitrix/php_interface/crontab
/bitrix/php_interface/dbconn.php
bitrix/php_interface/.#dbconn.php
/bitrix/stack_cache
bitrix/modules/updater.log
bitrix/modules/updater_partner.log
/logs
bitrix/.settings.php
/develop
upload.tar.gz
/bitrix/error_log
log.txt