.checkboxAgrementBlockInBank{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxAgrementBlockInBank .checkboxAgreement{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxAgrementBlockInBank div.black{
    margin: 0;
    flex: 1;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

.checkboxPolicyBlockInBank{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxPolicyBlockInBank .checkboxAgreement{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxPolicyBlockInBank div.black{
    margin: 0;
    flex: 1;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

/*=================*/

.checkboxAgrementBlockInContact{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxAgrementBlockInContact #idCheckboxInContact{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxAgrementBlockInContact div.black{
    margin: 0;
    flex: 1;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

.checkboxPolicyBlockInContact{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxPolicyBlockInContact #idCheckboxPolicyInContact{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxPolicyBlockInContact div.black{
    margin: 0;
    flex: 1;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

/*=================*/

.checkboxAgrementBlockInFooter{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxAgrementBlockInFooter #idCheckboxInFooter{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxAgrementBlockInFooter div.white{
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

.checkboxPolicyBlockInFooter{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxPolicyBlockInFooter #idCheckboxPolicyInFooter{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxPolicyBlockInFooter div.white{
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

/*=================*/

.checkboxAgrementBlockInPopup{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxAgrementBlockInPopup #idCheckboxInPopup{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxAgrementBlockInPopup div.agreement{
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}

.checkboxPolicyBlockInPopup{
    display: flex;
    margin: 10px 0 20px 0;
    justify-content: space-between;
    align-items: center;
}

.checkboxPolicyBlockInPopup #idCheckboxPolicyInPopup{
    max-width: 26px;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.checkboxPolicyBlockInPopup div.agreement{
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}