*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
body{
	margin: 0;
}
.fl-row{
	display: flex;
	flex-direction: row;
}
.build-item h4{
	color: #017eec;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.build-item h3 a{
	color:#017eec;
}
.art-overflow p{
	display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical	
}
.build-item p{
	color: black;
}
.items_section_wrap .fl-row{
	margin-bottom: 10px;
}
.fl-col{
	display: flex;
	flex-direction: column;
}
.osn_color{
	/* нигде не используется */
	color: #007ef1;
	color: #fd831c;
	color: #757575;
	color: #c4c4c4;
	color: #fef6f3;
	color: ;
}

.col-orange{
	color: #fd831c;
}
.sel-header select{
	padding: 7px;
	font-size: 18px;
	border: 1px solid #c6d0dc;
}
.header{
	border-bottom: 2px solid #fd831c;
}
.header > div{
	width: 90vw;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.header select{
	padding: 3px;
}
.header ul{
	list-style-type: none;
}
.header ul li{
	padding: 10px;
	color: #fd831c;
}
.head-number{
	font-weight: bolder;
	font-size: 1.5rem;
}
.main-content{
	width: 90vw;
	margin: 0 auto;
	max-width: 1250px;
}
.bx-wrapper{
	max-width: 1250px;
}
.breadcrumps{
	margin: 10px 0;
}
.city-filter{
	justify-content: center;
	align-items: center;
	margin: 0 auto 100px;
}
.city-filter img{
	max-width: 200px;
}
.city-filter h1{
	font-weight: normal;
	margin-bottom: 17px;
}
.city-filter select, .filter_section select{
	color: #d46c0f;
	width: 240px;
	padding: 10px 5px;
	font-size: 18px;
} 
.filter_section select:nth-child(1),.filter_section select:nth-child(2){
	width: 280px;
}
.city-filter form{
	justify-content: center;
	align-items: center;
}
.filter_section form{
	justify-content: : left;
	align-items: center;
}
.btn-search{
	width: 120px;
	height: 60px;
	background-image: url('/images/btn-search.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	background-color: white;
	margin-left: 10px;
}
.nav-services{
	width: 100%;
	justify-content: space-between;
	margin-bottom: 30px;
}
.nav-services > a > div{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #007ef1;
	font-size: 1.2rem;
	width: 21.7vw;
    max-width: calc(308.75px - 0.5vw);
}
.nav-services img{
	margin-right: 10px;
}
.city-street > div{
	width: 49.4%;
}
.city-street-item{
	justify-content: space-between;
	align-items: stretch;
}
.a-item{
	width: 21.7vw;
	height: 14vw;
	max-height: 240px;
	max-width: calc(308.75px - 0.5vw);
	/*max-width: 305px;/*380px; 386px */
	margin-bottom: 1vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	background-color: #fd831c;
}
.a-item > a > div{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.a-item h4{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
}

.a-item > a > div{
	background-color: rgba(119, 119, 136, 0.07);
    /* IE9, iOS 3.2+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(91, 91, 91, 0)),color-stop(0.653, rgba(169, 169, 169, 0)),color-stop(1, rgba(29, 29, 124, 0.38)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgba(91, 91, 91, 0) 0%,rgba(169, 169, 169, 0) 65.3%,rgba(29, 29, 124, 0.38) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgba(91, 91, 91, 0) 0%,rgba(169, 169, 169, 0) 65.3%,rgba(29, 29, 124, 0.38) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgba(91, 91, 91, 0) 0%,rgba(169, 169, 169, 0) 65.3%,rgba(29, 29, 124, 0.38) 100%);
}
 
/* IE8- CSS hack 
@media \0screen\,screen\9 {
    .a-item > a > div {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005b5b5b",endColorstr="#611d1d7c",GradientType=0);
    }
}*/

.build-list > .l_header h2{
	color: #007ef1;
	display:inline-block;
}

.build-list > .l_header a{
	color: #fd831c;
	margin: 0 0 0 70px;
}
.build-list > .l_header{
	align-items: center;
	margin-bottom: 15px;
	display:inline-block;
}
.build-list{
	margin-top: 40px;
}
.build-items{
	justify-content: space-between;
	align-items: stretch;
}
.build-item{
	width: 22vw;
	max-width: 305px;
	position: relative;
}
.build-item-bg{
	height: 17vw;
	max-height: 230px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.build-item-prop{
	border: 1px solid #a7a29f;
	border-top: none;
	padding: 10px;
	min-height: 240px;
	position: relative;
}
.build-status{
	justify-content: space-between;
}
.build-status div:first-child{
	color: #757575;
}
.build-status div:last-child{
	color: #fd831c;
}
.build-item-prop h3{
	color: #007ef1;
	font-weight: 300px;
	margin: 7px 0;
}
.build-near-metro{
	margin-bottom: 7px;
}
.build-near-metro img{
	height: 0.6em;
}

.build-near-metro span, .build-near-metro p{
	font-weight: bolder;
	font-size: 14px;
}
.room-quantity{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.room-quantity > div > span:first-child{
	font-weight: bold;
}
.room-quantity > div > span:last-child{
	color: #ada4a5;
}
.room-quantity > span:last-child{
	color: #797979;
	font-weight: bold;
}
.build-item-link{
	justify-content: space-between;
	margin-top: 15px;
}
.build-item-link a:last-child{
	color: #797979;	
}
.build-item-link div{
	padding: 10px;
	border: 1px solid #a7a29f;
}
.build-item-link a:first-child > div{
	background-color: #fef6f3;
	color: #fd831c;
	border-color: #fd831c;
}
.build-item-link a:first-child i{
	margin-left: 5px;
	transform: rotate(0deg);
}
.compilation ul{
	list-style-type: none;
	padding-left: 10px;
}
.compilation a{
	color: #fd831c;
}

.news-prew{
	margin-top: 10px;
}
.news-prew h4{
	line-height: 17px;
	overflow: hidden;
	height: 35px;
	color: #007ef1;
}
.news-prew p{
	line-height: 17px;
	overflow: hidden;
	height: 119px;
}
.news-date-prew i{
	margin: 0 7px;
}
.news-date-prew{
	margin: 8px;
	font-size: .8rem;
	color: #a7a29f;
}
.build-list footer a{
	color: #fd831c;
}
.build-list footer{
	padding-top: 20px;
}

.main-article{
	justify-content: space-between;
}
.right-sidebar{
	width: 22vw;
	max-width: 392px;
	margin-left: 15px;
}
.right-sidebar > span:first-child{
	font-size: 1.5rem;
}
.rs-img{
	background-image: url("http://kvartservice.ru/upload/iblock/462/462090968fc27dbc40219660ff2953d9.JPG");
	min-height: 100px;
	max-height: 100px;
	min-width: 100px;
	max-width: 100px;
	border-radius: 50%;
	background-size: cover;
	margin-right: 10px;
}
.rs-bl{
	margin: 15px 0;
}
.rs-name2{
	font-weight: bold;
	font-size: 1.5rem;
}
.rs-name{
	justify-content: space-between;
}
.rs-name a{
	color: #424242;
	font-weight: bold;
}
.rs-feedback input{
	padding: 4px;
	margin: 5px 0;
	width: 100%;
	font-style: italic;
}
.rs-feedback > button{
	padding: 10px;
	background-color: #fd831c;
	margin: 5px 0;
	font-size: 1.4rem;
	color: white;
	border:none;
}
.rs-news-prew{
	color: #797979;
}
.rs-news-h{
	color: #007ef1;
}
.rs-news-prew{
	align-items: center;
}
.rs-news-prew > div:first-child{
	height: 1rem;
	width: 1rem;
	margin-right: 5px;
	border-radius: 50%;
}
.rs-news-img{
	width: 100%;	
}
.rs-news{
	margin-top: 15px;
	line-height: 1.3;
}
.build-items-3col{
	flex-wrap: wrap;
}
.build-items-3col > div{
	width: 32%;
	max-width: 32%;
}

.main-company{
	max-width: 900px;
	float: left;
}
.main-company > *{
	margin: 30px 0;
}
.main-company h1{

	font-weight: normal;
	
}
.select-input{
	padding: 5px;
	width: 260px;
}
.list-company{
	justify-content: flex-start;
	flex-wrap: wrap;
}
.company-item{
	border: 1px solid #a7a29f;
	width: 24%;
	height: 300px;
	margin: 0 2% 2% 0;
}
.company-item > div{
	padding: 20px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.company-item-img{
	height: 200px;
	width: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
	margin-right: 30px;
	background-color: #f9f9f9;
}
.company-item-btn{
	padding: 10px 30px;
	background-color: #fd831c;
	border-radius: 3px;
	color: white;
	max-width: 200px;
	text-align: center;
	color: white;
}
.company-item-info{
	justify-content: space-between;
}
.company-item-info h1{
	color: #007ef1;
}
.company-detail{
	margin-top: 30px;
}
.company-detail .build-list > header > h2{
	color: #424242;
}

.company-detail > h2{
	margin: 40px 0 15px;
}
.lot-prew div > span:first-child{
	color: #fd831c;
}
.lot-prew div > span:last-child{
	color: #007ef1;
}
.lot-prew{
	margin: 0 0 10px;
}
.lot h1{
	margin: 20px 0 30px;
}
.lot-img-list{
	width: 100%;
}
.lot-img-list > div:first-child img{
	margin-bottom: 10px;
	width: 100%;
}
.lot-img-more-photo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	max-width: 100%;
}
.lot-img-more-photo > div:not(:last-child){
	margin-right: 10px;
}
.lot-img-more-photo > div{
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	max-height: 150px;
	max-width:24%;
}
.lot-list-prop{
	columns: 2;
	margin: 10px 0 30px;
	font-size: 1.2rem;
}
.lot-list-prop > div > span:last-child{
	color: #fd831c;
}
.lot_map{
	
}
.lot-ipoteka{
	width: 50%;
}
.lot-ipoteka > div{
	height: 100px;
	width: 30%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
	margin: 0 2% 2% 0;
	box-shadow: -1px 1px 2px #c4c4c4;
}
.lot-ipoteka h2{
	width: 100%;
	color: #007ef1;
}
.lot-ipoteka-description > div{
	max-width: 50%;
}
.lot-ipoteka-description h2{
	margin: 20px 0 15px;
}

.container-fluid .bx-title{
	color: #ff7b05;
	font-size: 20px;
	margin-bottom: 40px;
}
.container-fluid .bx-title.textBlue{
	color:#007ef1;
}
.product-item-detail-images-container img{
	width:100%;
}
.textOrange{
	color: #ff7b05;
	font-size:20px;
}
.textBlue{
	font-size:18px;
	color:#007ef1;
}
.textBlack{
	font-size:16px;
	color: #424242;
}
.textOrange.buttons{
	margin-left:10px;
}
.textBlue.sortTxt{
	padding-left:10px;
}
.textOrange.sortBtn{
	padding-left:20px;
}
.poperties_detail{
	margin-top:20px;
	display:flex;
	flex-wrap: wrap;
	padding:0px 5px;
}
.poperties_detail .textBlack{
	font-size:16px;
	color: #424242;
}
.poperties_detail .textOrange{
	font-size:16px;
}
.poperties_detail .textBlue{
	font-size:16px;
	color:#007ef1;
}
.product-item-detail-price-current{
	color: #007ef1;
	display:inline;
	font-weight:bold;
	font-size: 24px;
}
.product-item-detail-info-container{
	margin-bottom: 10px;
}
.product-item-detail-properties{
	width:50%;
	max-width:unset;
}
.product-item-detail-properties a{
	color: #ff7b05;
	font-size:20px;
}
.ipoteka_and_description{
	margin-top:15px;
	display:flex;
	padding:0px 5px;
}
.ipoteka_and_description > div.ipoteka{
	width:52%;
}

.ipoteka_and_description > div.description{
	width:48%;
}
.row .block_descr_title.textBlue{
	font-size:18px;
	color:#007ef1;
	padding-left:10px;
}
.row div.ipoteka .block_descr_title.textBlue{
	padding:unset;
}
.row .description p{
	margin-top:10px;
}
.flex_images_wrapper{
	display: flex;
    flex-wrap: wrap;
}
.ipoteka_img {
    width: 30%;
    padding: 20px 10px;
    border: 1px solid lightgray;
    margin: 5px;
    /* display: flex; */
}

.ipoteka_img img{
	display:block;
	margin:auto;
	height: 30px;
}

table.flex_table{
	width:90%;
	margin-top:20px;
}
table.flex_table .flex-row td{
	text-align:center;
}

table.flex_table .flex-row td:nth-child(1){
	text-align:left;
}
.bx_catalog_tile{
	margin: 0px;
}
.bx-breadcrumb{
	margin: 20px 0 10px;
}
.bx-breadcrumb i{
	color: #ff7b05;
	font-size:18px;
}
.bx-breadcrumb-item span,.bx-breadcrumb-item a{
	color: #ff7b05;
}
.bx-breadcrumb .bx-breadcrumb-item a,.bx-breadcrumb .bx-breadcrumb-item span{
	font-size:18px;
}
.sort_section, .filter_section{
	margin-bottom: 10px;
}
.items_section_wrap{
	width:75%;
}
#submit_filter_btn{
	width: 140px;
    margin-left: 20px;
    border: none;
    background: #ff7b05;
    color: white;
    padding: 5px;
    font-size: 18px;
}
#submit_Consultant_form{
	width: 100%;
    /* margin-left: 20px; */
    border: none;
    background: #ff7b05;
    color: white;
    padding: 10px 5px;
    margin: 0;
    font-size: 18px;
}
span.under_number {
    letter-spacing: 0.2px;
}
.news-line .build-item{
	padding-bottom: 31px;
}
.news-line .news-date-prew{
	position: absolute;
	bottom: 0;
}
.bx-header-section .bx-inc-orginfo-phone a.tel{
	line-height: 18px;
}
.section_wrap_content{
	display:flex;
	justify-content: space-between;
}
.wrap_content_sidebar .callback_form{
	padding: 0 10px 0 0;
}
.wrap_content_sidebar .callback_form input[type=text]{
	width: 100%;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 18px;
    font-style: italic;
}
.sidebar_section{
	width: 24%;
    padding: 0 15px;
	max-width: 280px;
}
.sidebar_section .header_title{
	font-size:20px;
}
.consultant_info{
	padding: 10px 0 0 0;
	margin-bottom: 10px;
}
.consult_text{
	display:block;
}
.consult_photo{
	margin-right:10px;
}
.art-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 430px;
	height: 430px;
}
.art-overflow p{
	overflow: hidden;
	text-overflow: ellipsis;
	//max-height: 250px;
}
span.consult_name.consult_text{
	font-size: 20px;
    font-weight: bolder;
}
span.consult_job.consult_text{
	letter-spacing: -0.8px;
    font-size: 15px;
}
span.consult_number.consult_text{
	font-weight: bolder;
    font-size: 18px;
    letter-spacing: -0.8px;
}
.consult_photo{
	float: left;
}
.bx-pagination .bx-pagination-container{
	text-align:left;
}
.bx-pagination .bx-pagination-container ul li{
	margin:0px;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all span, .bx-pagination .bx-pagination-container ul li.bx-pag-prev span, .bx-pagination .bx-pagination-container ul li.bx-pag-next span{
	color:#ff7b05;
    border: unset;
	background:unset;
	line-height: unset;
	padding:0;
}

.bx-pagination .bx-pagination-container ul li.bx-active span{
	background:unset;
	color:#ff7b05;
	height: unset;;
    min-width: unset;
}
.bx-pagination .bx-pagination-container ul li span{
	background:unset;
	color:#ff7b05;
	height: unset;;
    min-width: unset;
	line-height:unset;
	padding:0px;
	display:unset;
	vertical-align:unset;
}
.bx-pagination .bx-pagination-container ul li a,.bx-pagination .bx-pagination-container ul li.bx-pag-all a span, .bx-pagination .bx-pagination-container ul li.bx-pag-prev a span, .bx-pagination .bx-pagination-container ul li.bx-pag-next a span{
	color:#ff7b05;
    border: unset;
	background:unset;
	line-height: unset;
	padding:0;
	height:unset;
	min-width:unset;
	vertical-align:unset;
	display:unset;
}
.bx-pagination .bx-pagination-container ul li a:hover span{
	background:unset;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span, .bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span, .bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span{
	color:#ff7b05;
}
.bx-pagination-container .fa{
	color:#ff7b05;    margin-left: 5px;
}
.bx-section-desc{
	margin-bottom:15px;
}
.bx-section-desc h2{
	color:#017eec;
	margin-bottom:15px;
}
.title-novost{
	margin: 30px 0;
}

.planning > div{
	max-width: 25%;
}
.product-gallery, .product-gallery__body {
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.product-gallery {
      display: flex;
      flex-direction: column-reverse;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.product-gallery__nav {
  position: relative;
  width: 120px;
  max-height: 640px;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  font-size: 0;
  float: left;
}
.product-gallery__nav-item:first-child {
  margin-top: 0;
}
.selected_active {
  border: 1px solid rgb(132, 95, 63);
}
.product-gallery__nav-item {
      float: left;
  width: 191px;
  height: 128px;
  margin-right: 10px;
  position: relative;
  display: block;
  background-color: #fff;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: border .2s;
  -o-transition: border .2s;
  -moz-transition: border .2s;
  transition: border .2s;
  cursor: pointer;
}
.product-gallery__nav-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  -o-transition: -o-transform .2s;
  -moz-transition: transform .2s,-moz-transform .2s;
  transition: transform .2s;
  transition: transform .2s,-webkit-transform .2s,-moz-transform .2s,-o-transform .2s;
  transition: transform .2s,-webkit-transform .2s;
}
img {
  border: 0;
  image-rendering: -webkit-optimize-contrast;
}
.selected_active{
  border:1px solid rgb(132, 95, 63);
}
.product-gallery__nav{
  position: relative;
  width: 100%;
}
.product-gallery__nav_ovh{
  width: 1000%;
  height: 128px;
  overflow: hidden;
  flex-direction: row; 
  justify-content:space-between;
  position: relative;
 
  /* -o-transition: top .3s linear;
  -webkit-transition: top .3s linear; */
}

.arrow_left,.arrow_right{
  position:absolute;
  top:0;
  height: 128px;
  line-height: 20px;
  cursor: pointer;
}
.arrow_left{
  left: 0;
}
.arrow_right{
  right: 0;
}
.arrow_left img{
  border-top-left-radius:5px; 
  border-top-right-radius:5px;
  max-height: 100%;
}
.arrow_right img{
  border-bottom-left-radius:5px; 
  border-bottom-right-radius:5px;
  max-height: 100%;
}
.hidden1{
  /* display: none; */
}
.arrow_left-right{
}
.product-item-properties dt{
	color:#424242;font-weight: bold;
}
.product-item-info-container {
    margin-bottom: 8px;
    margin-top: 8px;
}
.product-item-properties {
    display: block;
    margin: 0;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 15px;
}
.bx-header-section nav li.bx-active span{
	border-bottom: 1px solid #ff7b05;
	font-weight: bold;
}
.zastr-item-wrapper{
	border: 1px solid #d7d7d7;
}
.zastr-item-wrapper .build-item-bg{
	height: 14vw;
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.zastr-item-wrapper .zastr-item{
    height: 14vw;
    max-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f1f1f1;
}
.zastr-item-wrapper .zastr-item h3{
	color:#000;
}
.zastr-item-wrapper a:hover h3{
	border-bottom: 1px solid black;
}
#zastr-submit-btn{
	width: 140px;
    margin-left: 20px;
    border: none;
    background: #ff7b05;
    color: white;
    padding: 5px;
    font-size: 18px;
}
@media (min-width: 1200px){
	.bx-header-section {
		padding: 10px 0px;
	}
}
.input-zastr{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 50px;
}
.input-zastr input[type=text]{
	width: 100%;
    border: 1px solid #545454;
}
.all_counter{
	margin-top: 50px;
	font-size: 26px;
}
.giant_counter .textOrange{
	font-size: 26px;
}
.grayText{
	color: #999999;
    padding: 30px 0px;
	max-width: 980px;
	font-size: 14px;
    line-height: 20px;
}
.select_sort_zastr select{
    border: 1px solid #999999;
    color: #999999;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    min-width: 220px;
}
.zastr-items-list .row{
	display:flex;
	justify-content:space-between;
	max-width:980px;
	margin-bottom: 15px;
	flex-wrap:wrap;
}
.product-item-properties dd {
    float: right;
    margin-bottom: 3px;
    margin-left: 5px;
    color: #797979;
    font-weight: bold;
}
.section_wrap_content .news-list{
	width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
div.news-item {
    width: 22vw;
    max-width: 305px;
}
div.news-item .news-bottom-gray{
	margin-top: 10px;
	margin-bottom: 25px;
}
div.news-item .news-bottom-gray img{
    margin: 0 15px;
}
div.news-item .news-bottom-gray .news-text-gray{
	color: #707070;
    font-size: 15px;
}
.news-list a{
	color:#007bec;
}
.news-list a:nth-child(2) {
    line-height: 20px;
}
.preview-text-news{
    line-height: 20px;
}
.news-detail{
	color: #424242;
	width: 75%;
}
.creator{
	display: block;
    margin: 20px 0;
	font-size: 14px;
}
.news-detail-text{
	font-size: 18px;
	display: block;
}
.read-more-news a{
	display:block;
}
.news-bottom{
	padding: 0px 10px;
}
.read-more-news .textBlue{
	margin-bottom: 20px;
	display: block;
}
.news-text-gray{
	margin-top:20px;
}